$base-font = "Courier New", Courier, monospace
$title-font = "Courier New", Courier, monospace

$large-width = 775px
$mid-width = 675px
$small-width = 450px

// use https://coolors.co/palettes/trending to fill in the following

$color1         = red
$color2         = green
$color3         = blue
$color4         = white
$color5         = yellow

$bg-color       = $color4
$bg-dark        = $color3
$font-color     = $color3
$accent         = $color2
$light-accent   = $color5
$alt-accent     = $color1
$light-text     = $color4